---
import Button from "./Button.astro";
import "../styles/style.css";
const { packages, data } = Astro.props;
---

<li class={packages}>
  <h3>{data.title}</h3>
  <p>{data.subtext}</p>
  <p>Abonnement</p>
  <p>{data.price}</p>
  <a href=`/pkg/${data.slug}`> jksjkks </a>
</li>
